<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BANK SOFT</title>
</head>
<body>

    <h1><center>BLUESOFT BANK</center></h1>

    <h2>Bienvenidos al Sistema</h2>

    <button type="button"><a href="/Clientes/Inicio">Inicio</a></button>
    <button type="button"><a href="/Clientes/ListadoCliente">Clientes</a></button>
    <button type="button"><a href="/Clientes/AgregarCliente">Agregar Clientes</a></button>
    <button type="button"><a href="/Reportes/ListadoReporteClientes">Reporte de Clientes</a></button>
    <button type="button"><a href="/Consignaciones/ListadoConsignaciones">Cosignaciones de Clientes</a></button>
    <button type="button"><a href="/Retiros/ListadoRetiros">Retiro de Clientes</a></button>
    <button type="button"><a href="/Saldos/ListadoSaldoCliente">Saldos de Clientes</a></button>
    <div>
        @RenderBody()
    </div>
</body>
</html>
